body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background:#fee362 url(../common/image/newqiqiubg.jpg) no-repeat;
    background-size: 100%;
    color: #333;
    height: 32.2rem;
    font-size: 12px;
    font-family: "Microsoft YaHei"
}
div{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
ul,
ol {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

input {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #c00;
    text-decoration: none;
}

.clear {
    clear: both;
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 4.7rem;
    padding-top: 0.3rem;
    background: url(../common/image/swiperbg.png);
}
.swiper-slide {
   text-align: center;
   font-size: 18px;
   height: 4rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;

}
.swiper-slide:nth-child(1){
    margin-left: 1rem;
}
.swiper-slide .imgf{
    width: 80%;
    height: 3.25rem;
    margin:0 auto;
    display: block;
}
.swiper-slide p{
    width: 100%;
    display: block;
    font-size: 0.6rem;
}
.swiper-slide:nth-child(1) .imgf{
    background: url(../common/image/newshop1.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(2) .imgf{
    background: url(../common/image/newshop2.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(3) .imgf{
    background: url(../common/image/newshop3.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(4) .imgf{
    background: url(../common/image/newshop4.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(5) .imgf{
    background: url(../common/image/newshop5.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(6) .imgf{
    background: url(../common/image/shops2.png) no-repeat;
    background-size: 100%;
}
.swiper-slide:nth-child(7) .imgf{
    width: 0.5rem;
    background: transparent;
}
.couten{
    position: absolute;
    top: 1.8rem;
    left: 0;
    width: 100%;
    height: 13.0rem;
    overflow: hidden;
}
.couten li {
    position: absolute;
    animation: all 3s linear;
    top: -100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.couten li a {
    display: block;
}
.biaode{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin:auto;
    width: 6.8rem;
    height: 8.9rem;
    z-index: 5;
    transform-origin:3.4rem 4.5rem;
    -webkit-transform-origin: 3.4rem 4.5rem;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.zhuan_left{
    transform-origin:3.4rem 4.5rem;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.zhuan_right{
    transform-origin:3.4rem 4.5rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.zhuansi{
    transition: all 1s ease-in-out 0s;
    transform-origin: 3.4rem;
    transform:scaleZ(-1);
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.banner {
    display: block;
    width: 16.875rem;
    height: 13.8rem;
    position: relative;
    margin:0 auto;
    margin-top: 0.5rem
}
.banner .paibgm{
    position: absolute;
    width: 5rem;
    height: 6.35rem;
    background: url(../common/image/fanpaipai.png) no-repeat;
    background-size: 100%;
    transition:all .3s;
}
.banner .paibgm.active{
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(1.1)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: scale(1)
    }
    to {
        -moz-transform: scale(1.1)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: scale(1)
    }
    to {
        -o-transform: scale(1.1)
    }
}

@keyframes rotate {
    from {
        transform:scale(1)
    }
    to {
        transform: scale(1.1)
    }
}
.banner .paibgm:nth-child(1){
    top: 0;
    left: 0;
}
.banner .paibgm:nth-child(2){
    top: 0;
    left: 5.95rem;
}
.banner .paibgm:nth-child(3){
    top: 0;
    left: 11.9rem;
}
.banner .paibgm:nth-child(4){
    top: 6.5rem;
    left: 0;
}
.banner .paibgm:nth-child(5){
    top: 6.5rem;
    left: 5.95rem;
}
.banner .paibgm:nth-child(6){
    top: 6.5rem;
    left: 11.9rem;
}
.banner .paibgm.init{
    top: 7.4rem;;
    left: 11.9rem;
}
.more {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
}

.cloud {
    position: fixed;
    left: 0;
    top: 70%;
    width: 150px;
}

.cloud2 {
    position: fixed;
    right: 0;
    top: 32%;
    width: 50px;
}

.cloud3 {
    position: fixed;
    left: 0;
    top: 30%;
    width: 100px;
}

@media screen and (max-width: 320px) {
    .cloud {
        position: fixed;
        left: 0;
        top: 70%;
        width: 150px;
    }
    .cloud2 {
        position: fixed;
        right: 0;
        top: 30%;
        width: 50px;
    }
    .cloud3 {
        position: fixed;
        left: 0;
        top: 23%;
        width: 100px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .cloud {
        position: fixed;
        left: 0;
        top: 72%;
        width: 150px;
    }
    .cloud2 {
        position: fixed;
        right: 0;
        top: 32%;
        width: 50px;
    }
    .cloud3 {
        position: fixed;
        left: 0;
        top: 25%;
        width: 100px;
    }
}

@media screen and (min-width: 376px) {
    .cloud {
        position: fixed;
        left: 0;
        top: 68%;
        width: 150px;
    }
    .cloud2 {
        position: fixed;
        right: 0;
        top: 32%;
        width: 50px;
    }
    .cloud3 {
        position: fixed;
        left: 0;
        top: 25%;
        width: 100px;
    }
}

@media screen and (max-height: 480px) {
    .cloud {
        position: fixed;
        left: 0;
        top: 81%;
        width: 150px;
    }
    .cloud2 {
        position: fixed;
        right: 0;
        top: 35%;
        width: 50px;
    }
    .cloud3 {
        position: fixed;
        left: 0;
        top: 27%;
        width: 100px;
    }
}

#mark {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.red-img {
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
}

.rule {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 1.55rem;
    height: 1.55rem;
    /*  line-height: 1.15rem; */
    text-align: center;
    font-size: 0.65rem;
    z-index: 1;
    background: url(../common/image/rule1.png) no-repeat;
    background-size: 100% 100%;
}
.centers{
    position: relative;
    padding-top: 16.7rem;
    height: 11rem;
    background: url(../common/image/bg01.png) no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}
.centers1{
    position: relative;
    height: 27.35rem;
    overflow-x: hidden;
    overflow-y: hidden;
}
.centers1 .qiu{
    position: absolute;
    height: 27.7rem;

}
.centers1 .qiu:nth-child(1){
    width: 4.15rem;
    height: 10.175rem;
    top: 19.5rem;
    left: 4rem;
    background: url(../common/image/qiu1.png) no-repeat;
    background-size: 100%;
    z-index: 2;
    animation: mygoods 2s infinite;
}


.centers1 .qiu:nth-child(2){
    width: 4.15rem;
    height: 11.5rem;
    top: 10.25rem;
    left: 2.1rem;
    background: url(../common/image/qiu2.png) no-repeat;
    background-size: 100%;
    animation: mygoods 2.5s infinite;
}
.centers1 .qiu:nth-child(3){
    width: 4.15rem;
    height: 10.8rem;
    top: 10.5rem;
    left: 7.5rem;
    background: url(../common/image/qiu3.png) no-repeat;
    background-size: 100%;
    animation: mygoods 2.8s infinite;
}
.centers1 .qiu:nth-child(4){
    width: 5.0rem;
    height: 8.05rem;
    top: 10.4rem;
    left: 12.4rem;
    background: url(../common/image/qiu4.png) no-repeat;
    background-size: 100%;
    animation: mygoods 2s infinite;
}
.centers1 .qiu:nth-child(5){
    width: 5.0rem;
    height: 14.3rem;
    top: 19.45rem;
    left: 10.75rem;
    background: url(../common/image/qiu5.png) no-repeat;
    background-size: 100%;
    animation: mygoods 2.5s infinite;
}
.centers1 .qiu .icon{
    margin:1.35rem auto;
}
.centers1 .qiu:nth-child(1) .icon{
    width: 2.15rem;
    height: 2.65rem;
    background: url(../common/image/biao1.png) no-repeat;
    background-size: 100%;
    animation: icon 1.5s infinite;
}
.centers1 .qiu:nth-child(2) .icon{
    width: 2.4rem;
    height: 2.65rem;
    background: url(../common/image/biao2.png) no-repeat;
    background-size: 100%;
    animation: icon 1.8s infinite;
}
.centers1 .qiu:nth-child(3) .icon{
    width: 2.15rem;
    height: 2.7rem;
    background: url(../common/image/biao3.png) no-repeat;
    background-size: 100%;
    animation: icon 2.1s infinite;
}
.centers1 .qiu:nth-child(4) .icon{
    width: 2.1rem;
    height: 2.55rem;
    background: url(../common/image/biao4.png) no-repeat;
    background-size: 100%;
    animation: icon 2.4s infinite;
}
.centers1 .qiu:nth-child(5) .icon{
    width: 2.15rem;
    height: 2.8rem;
    background: url(../common/image/biao4.png) no-repeat;
    background-size: 100%;
    animation: icon 2.7s infinite;
}
.centers1 .bao{
    position: absolute;
    display: none;
    width: 8.8rem;
    height: 6rem;
    background: url(../common/image/bao.png) no-repeat;
    background-size: 100%;
    animation: ribbon 1s;

}
.centers1 div:nth-child(6){
    top: 18rem;
    left: 1.5rem;
}
.centers1 div:nth-child(7){
    top: 9.25rem;
    left: 0.1rem;
}
.centers1 div:nth-child(8){
    top: 10rem;
    left: 5rem;
}
.centers1 div:nth-child(9){
    top: 9.7rem;
    left: 10.4rem;
}
.centers1 div:nth-child(10){
    top: 18.45rem;
    left: 8.75rem;
}
.ziti{
    position: absolute;
    width: 18.75rem;
    height: 9.0rem;
    top:6rem;
    background: url(../common/image/banner1.png) no-repeat;
    background-size: 100%;
}
.stard{
    width: 7.65rem;
    height: 2.25rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    background: url(../common/image/start1.png) no-repeat;
    background-size: 100% 100%;
}
.counts {
    position: absolute;
    top: 8rem;
    left:35%;
    width: 6.0rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    margin: 0 auto;
    color: #2890c8;
    border: 1px solid #2890c8;
    border-radius: 1.0rem;
}

.jiang {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.15rem;
    text-align: center;
    font-size: 0.65rem;
    z-index: 2;
    background: url(../common/image/prize.png) no-repeat;
    background-size: 100% 100%;
}

.notice {
    position: relative;
    padding-bottom: 0.5rem;
    z-index: 3;
}

.notice h1 {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    color: #440d00;
    text-align: center;
    font-weight: normal;
}

.notice h1.ntile1 {
    height: 3.5rem;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    margin-top: 0;
}

.notice h1.title {
    color: #440d00;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.notice h1 span {
    width: 1.75rem;
    height: 1px;
    display: inline-block;
    background: #440d00;
    vertical-align: middle;
}

.notice h1 span:first-child {
    margin-right: 0.4rem;
}

.notice h1 span:last-child {
    margin-left: 0.4rem;
}

.notice .contant {
    width: 85%;
    height: 22rem;
    margin: 0 auto;
    padding: 0.5rem;
    color: #440d00;
    overflow: auto;
}

.notice .contant p {
    line-height: 1rem;
    font-size: 0.6rem;
    margin-bottom: 0.25rem;
}

.notice .contant p.font14,
.notice .contant h1.font14 {
    font-size: 0.7rem;
}

.zhenotice {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.4)
}

.alerty {
    position: absolute;
    top: 2.0rem;
    left: 0;
    display: none;
    height: 27.0rem;
    z-index: 5;
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
    margin-right: 1.375rem;
    margin-left: 1.375rem;
    background: url(../common/image/alertbg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    border-radius: 0.75rem;
}

.saclose {
    position: absolute;
    top: 1.4rem;
    right: 0.1rem;
    z-index: 3;
    width: 1.6em;
    height: 1.6em;
}

.moresay {
    background: #fd6918;
    color: #fff;
    width: 7.45rem;
    height: 2.2rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5rem;
    background: url(../common/image/moreintro.png) 0 0 no-repeat;
    background-size: 100% 100%;

}

.moresayp {
    display: none;
    padding-top: 1.0rem;
}

#hdgg_show-win {
    padding-left: 0;
    margin-left: 0.2rem;
}
#hdgg_more_game_award{
    z-index:3;
}
@keyframes mygoods {
   0% {
       transform: translate(0px, 0px);
   }
   50% {
       transform: translate(0px, -10px);
   }
   100% {
       transform: translate(0px, 0px);
   }
}
@keyframes icon {
   from {
       opacity: 1;
   }
   to {
       opacity: 0;
   }
}
@keyframes ribbon {
    from {
        -webkit-transform: scale(-.1);
        transform: scale(-.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
/*.swiper-title {*/
    /*position: absolute;*/
    /*top: 0.5rem;*/
    /*left: 0;*/
    /*width: 2.45rem;*/
    /*height: 2.8rem;*/
    /*z-index: 2;*/
    /*background: url(../common/image/
    /*background-size: 100%;*/
/*}*/
.DB_guide {
    width: 5rem;
    height: 5.25rem;
    position: absolute;
    left: 38%;
    top: 2rem;
    z-index: 2;
    pointer-events: none;
}
.DB_guide .DB_G_circle {
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-animation: guidCircle 0.8s linear infinite normal;
    animation: guidCircle 0.8s linear infinite normal;
}
.DB_guide .DB_G_hand {
    display: none;
    width: 5rem;
    height: 5.25rem;
    left: 1.1rem;
    top: .05rem;
    background-image: url(../common/image/Hands.png);
    background-size: contain;
    -webkit-animation: guideHand 1.5s linear infinite normal;
    animation: guideHand 1.5s linear infinite normal;
    opacity: 0;
}
.DB_guide.active .DB_G_hand {
    display: block;
}
@-webkit-keyframes guideHand {
    0% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    20%, 80% {
        opacity: 1;
        -webkit-transform: scale(.8,.8);
        transform: scale(.8,.8);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8,.8);
        transform: scale(.8,.8);
    }
}